*
{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

nav
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
ul{
    list-style: none;
    background-color: crimson;
    width: 420px;
    padding: 24px 0px;
    height: 100vh;
    clip-path: circle(10% at 10% 5%);
}
ul.active{
    clip-path: circle(98% at -45% 10%);
}
.menu
{
    width: 48px;
    height: 40px;
    position: relative;
    margin-bottom: 24px;
    margin-top: 59px;
}
.bar
{
    cursor: pointer;
    height: 40px;
}
span
{
    margin-top: 20px;
    width: 48px;
    position: absolute;
    left: 0;
    background-color: white;
    padding: 2px;
    border-radius: 4px;
    margin-left: 30px;
}
span:nth-child(1)
{
    top: 0;
}
span:nth-child(2)
{
    top: 17px;
    width: 28px;
}
span:nth-child(3)
{ 
   top: 33px;
   width: 40px;
}
nav.active span:nth-child(1)
{
    top: 0;
    left: 23px;
    width: 4px;
    height: 40px;
}
nav.active span:nth-child(2)
{
    width: 41px;
    left: 5px;
}
nav.active span:nth-child(3)
{
     width: 0px;
    height: 0;
    padding: 0;
}
ul.active span
{
    transform: rotateZ(45deg);
}
li{
    padding: 24px 70px;
    padding-right: 360px;
    color: white;
    text-decoration:solid;
    text-transform: uppercase;
}
li:hover
{
   background-color:  rgb(146, 18, 44);
   padding-left: 60px;
   padding-right: 360px;
}